VITE_API_BASE_URL=https://neurostock-backend-9fog.onrender.com
VITE_PREDICTION_API_BASE_URL=https://neurostock-prediction.onrender.com
VITE_CONTRACT_ADDRESS=
VITE_1ST_FINHUBB_KEY=
VITE_2ND_FINHUBB_KEY=
VITE_3RD_POLYGON_KEY=
